body{
    margin: 0;
    background: black;
}

table{
    border-collapse:collapse;
}

#interface{
    margin: 0;
    width: 1312px;
}

#menu{
    width: 220px;
    height: 572px;
    border: 2px double #9F9F9F;
    margin: 0;
    top: 0;
    position: absolute;
    background: blue;
    display: inline-block;
}

#menu #map-name{
    margin: 0 5px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 1px black,
                0px 1px 1px black;
}

#map{
    width: 1088px;
    display: inline-block;
}

#map td{
    height: 64px;
    width: 64px;
    display: inline-block;
    background: black;
    padding: 0;
    margin: 0;
}

#map td div{
    height: 64px;
    width: 64px;
    margin: 0;
    padding: 0;
    position: relative;
}

#map td div.layer2{
    top: -64px;
}

.t-grass{
    background: url('../sprites/map/sprite-map1.png');
}

.t-dirt{
    background: url('../sprites/map/sprite-map1.png') -64px 0px;
}

.t-top-tree{
    background: url('../sprites/map/sprite-map1.png') -64px -64px;
}

.t-bottom-tree{
    background: url('../sprites/map/sprite-map1.png') 0px -64px;
}

.hero{
    background-color: blue;
    height: 64px;
    width: 64px;
}